<% include ../header %>
<header>
    <h2>NTalk - Contatos</h2>
</header>
<section>
    <div class="alert alert-success" role="alert">
        Bem Vindo! <h4 class="alert-heading"><%- usuario.nome %></h4>
      </div>
</section>
<% include ../exit %>
<% include ../footer %>