<% include header %>
<header>
        <div class="alert alert-success" role="alert">
  <h1 class="alert-heading">Ntalk</h1>
  <hr>
  <h4 class="alert alert-warning">Infelizmente essa página não existe :(</h4>
        </div>
</header>
<hr>
<div class="alert alert-light" role="alert">
<p>Vamos voltar? <a href="/" class="alert-link">Go to home page</a> :)</p>
</div>
<% include footer %>