<% include header %>
<header>
        <div class="alert alert-success" role="alert">
  <h1 class="alert-heading">Ntalk</h1>
  <hr>
  <h4 class="alert alert-warning">Aconteceu algo terrível! :(</h4>
</div>
</header>
<p class="mb-0">
  Veja os detalhes do erro:
  <br>
<b>  <%- error.message %> </b>
</p>
<hr>
<div class="alert alert-light" role="alert">
<p>Que tal voltar? <a href="/">Go to home page</a> :)</p>
</div>
<% include footer %>