<% include ../header %>
    <form action="/entrar" method="post" class="form-signin">
        <h1 class="font-weight-bold">NTalk</h1>
        <h3 class="font-weight-bold">Bem Vindo!</h3>
        
    <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" name="usuario[nome]" class="form-control text-center" placeholder="Entre com seu nome">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                    <div class="form-group">
                    <input type="email" name="usuario[email]" class="form-control text-center" placeholder="Entre com seu Email">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                </div>
            </div>
        </div>
    </form>
    <% include ../footer %>
</html>